.wrapperDownloadCvButton {
    z-index: 100;
    width: 150px;
    height:  50px;
    .downloadCvButton {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: var(--secondary-color);
        padding-top: clamp(0.3125rem, 0.2367rem + 0.3236vw, 0.625rem);
        padding-bottom: clamp(0.3125rem, 0.2367rem + 0.3236vw, 0.625rem);
        padding-left: clamp(0.625rem, 0.4733rem + 0.6472vw, 1.25rem);
        padding-right: clamp(0.625rem, 0.4733rem + 0.6472vw, 1.25rem);
        border: 1px solid var(--primary-color);
        border-radius: 9999px;
        color: #000;
        cursor: none;
        p {
            z-index: 1;
            color: var(--default-color);
        }
        img {
            z-index: 1;
            margin-left: 10px;
            margin-right: 2px;
        }
        div { 
            z-index: 0;
            position: absolute;
            width: inherit;
            height: inherit;
            background: var(--primary-color);
            transform-origin: 50% 100%;
        }
    }

}

// .downloadCvButton:hover {
//     p {
//         color: var(--primary-color);
//     }
// }