.introContainer {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--default-color);
    .intro {
        padding: 0px 150px 0px 150px;
        @media screen and (max-width: 767px) {
            padding: 0px 18px 0px 18px;
        }
        h1 {
            padding-bottom: 50px;
            text-align: center;
            font-size: 40px;
            color: var(--secondary-color);
            @media screen and (max-width: 767px) {
                font-size: 30px;
            }
        }
        h2 {
            text-align: center;
            color: var(--secondary-color);
            font-size: 28px;
            @media screen and (max-width: 767px) {
                font-size: 18px;
            }
            .span {
                font-family: 'Canela web','Times New Roman',sans-serif;
                font-style: italic;
                font-weight: 100;
                text-transform: none;
            }
        }
    }
}


